%h1 Хитров Роман Викторович
%h2 Разработка сайтов на Ruby on Rails
-#%h3 О себе
-#%p Живу в Санкт-Петербурге. Опыт работы в сфере 3 года.
-#%p
-#  Программирование на языке руби не первый мой вид деятельности. Изначально я учился на помощника машиниста электровоза,
-#  затем работал сначала помощником машиниста, потом машинистом электровоза в Тч-8 Санкт-Петербург - пассажирском депо всего
-#  около 5 лет.
-#%p
-#  C сентября 2014 программирую на языке руби. Переучиться мне стоило больших усилий, но нисколько не жалею. Если кто-то
-#  хочет повторить мой опыт, то Вам нужна очень большая сила воли, железная мотивация и определенные способности. В руби
-#  довольно высокий порог вхождения, поэтому чтобы быть в теме, понадобится много терпения.
-#%p
-#  Без ВП, активная жизненная позиция. Ответственно подхожу к делам.
%h3 Опыт работы
%p
  Опыт работы в сфере 3 года.
  Первый рабочий проект - интернет магазин запчастей #{link_to "dmcat.ru", "https://dmcat.ru", target: "_blank"}. В
  нем я разработал ряд функций и оптимизировал для поисковых систем.
%ul
  С чем работал:
  %li Авторизация пользоватетей по паролю и ссылкам
  %li Загрузка и отправка электронной почты через сайт
  %li Подключение карт google
  %li Обработка файлов xls, xlsx, csv, txt
  %li Справочники, работа с базой данных mysql, postgresql
  %li Настройка вэб-сервера (nginx + unicorn)
  %li Кэширование данных для ускорения загрузки
  %li Сложный поиск по товарам
  %li Запуск фоновых ресурсоемких задач по расписанию
  %li Настройка карты сайта для поисковиков Sitemap.xml
  %li Продвижение сайта по правилам Google и Yandex
  %li Структурированая разметка сайта
  %li Адаптивный дизайн для мобильных устройств
  %li Подключение к Yandex Market и Google Merchant Center
  -#%li Ajax запросы
  %li Тесторование приложения
  -#Это конечно не все, с чем мне довелось поработать. Работа программиста - это постоянно разбираться с чем-то.

%h3 Отношения с заказчиками
%p
  Я за оффициальные и открытые  отношения с честными и надежными людьми.
%h3
  -#Мои недостатки
-#%p
-#  Как уже говорил, я за честные отношения. Не скажу, что я супер профессионал - все умею и быстро сделаю. Я написал выше, с чем
-#  работал. С каждым днем стараюсь повышать свою квалификацию. Ввиду того, что я не Senior Ruby Developer у меня не слишком высокие
-#  требования по оплате.
%h3 Связаться со мной
%p
  email: roman.khitroff@gmail.com


